<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orego.corporation.orego">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".fragments.otherActivities.OldMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".fragments.otherActivities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".fragments.otherActivities.OldMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.otherActivities.AboutActivity"
            android:label="About"
            android:parentActivityName=".fragments.otherActivities.OldMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar_StatusBar" />
        <activity
            android:name=".fragments.otherActivities.DonateActivity"
            android:label="Donate"
            android:parentActivityName=".fragments.otherActivities.OldMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.otherActivities.face3dActivity.model3D.view.DemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.otherActivities.face3dActivity.model3D.view.ModelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".fragments.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>